    <div id="left-sidebar" class="sidebar">
        <div class="navbar-brand">
            <a href="{{ path('app.homepage.index') }}"><img src="{{ asset('themes/images/icon.svg') }}" class="img-fluid logo" alt="{{ metas.title }}"><span>{{ metas.title }}</span></a>
            <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
        </div>
        <div class="sidebar-scroll">
            <div class="user-account">
                <div class="user_div">
                    <img src="{{ asset(images.logo) }}" class="user-photo" alt="User Profile Picture">
                </div>
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a href="{{ path('app.homepage.index') }}" class="{#dropdown-toggle #}user-name"{# data-toggle="dropdown"#}><strong>{{ metas.title }}</strong></a>
{#                    <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">#}
{#                        <li><a href="javascript:void(0);"><i class="icon-user"></i>My Profile</a></li>#}
{#                        <li><a href="javascript:void(0);"><i class="icon-envelope-open"></i>Messages</a></li>#}
{#                        <li><a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a></li>#}
{#                        <li class="divider"></li>#}
{#                        <li><a href="javascript:void(0);"><i class="icon-power"></i>Logout</a></li>#}
{#                    </ul>#}
                </div>
            </div>
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    <li class="header">Main</li>
                    <li{{ _self.active('app.homepage') }}>
                        <a href="#homepage" class="has-arrow"><i class="icon-home"></i><span>{{ 'text.homepage'|trans|plural }}</span></a>
                        <ul>
                            {{ _self.link('text.homepage'|trans, 'app.homepage.index') }}
                            {{ _self.link('text.avions'|trans, 'app.homepage.avions') }}
                            {{ _self.link('text.chiens'|trans, 'app.homepage.chiens') }}
                            {{ _self.link('text.emblemes'|trans, 'app.homepage.emblemes') }}
                            {{ _self.link('text.films'|trans, 'app.homepage.films') }}
                            {{ _self.link('text.fruits'|trans, 'app.homepage.fruits') }}
                            {{ _self.link('text.pasta'|trans, 'app.homepage.pasta') }}
                            {{ _self.link('text.pays'|trans, 'app.homepage.pays') }}
                            {{ _self.link('text.pilotes'|trans, 'app.homepage.pilotes') }}
                            {{ _self.link('text.hip-hop'|trans, 'app.homepage.hip-hop') }}
                            {{ _self.link('text.series'|trans, 'app.homepage.series') }}
                        </ul>
                    </li>
                    <li><a href="javascript:void(0);"><i class="icon-doc"></i><span>Documentation</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

{% macro active(route) %}
    {% if app.current_route starts with route%} class="active open"{% endif %}
{% endmacro %}

{% macro link(text, target) %}
    {% if target == app.current_route %}
    <li class="active"><a href="{{ path(target) }}">{{ text|trans }}</a></li>
    {% else %}
    <li><a href="{{ path(target) }}">{{ text }}</a></li>
    {% endif %}
{% endmacro %}
