{#<div{{ attributes }}>#}
{#</div>#}

<!-- component HTML -->
<div class="row">
{% for key, value in data %}
    {% set id = value|replace({' ': '_', "'": '_'}) %}
    <div class="col-lg-{{ this.column() }} col-md-12">
        <div class="card mb-2">
            <div class="card-body p-2">
                <div class="form-group m-0 px-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button
                                class="btn btn-outline-secondary border-secondary input-group-text clipboardjs"
                                data-clipboard-action="copy"
                                data-clipboard-target="#{{ id }}"
                            >
                                <i class="fa-solid fa-copy"></i>
                            </button>
                        </div>
                        <label for="{{ id }}"></label>
                        <input type="text" id="{{ id }}" class="form-control form-control-lg border-secondary" placeholder="{{ value }}" value="{{ value }}">
                        <div class="input-group-append">
                            <button
                                class="btn btn-outline-secondary border-secondary input-group-text clipboardjs"
                                data-clipboard-action="copy"
                                data-clipboard-target="#{{ id }}"
                            >
                                <i class="fa-solid fa-copy"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
